
.cards {
  /*display: flex;*/
  position: relative;
  margin-left: 300px;
  margin-top: 200px;
}

.card {
  background-image: url("../../assets/cardBack.png");
  background-size: cover;
  height: 220px;
  width: 120px;
  border-radius: 1em;
  position: absolute;
  border: 1px solid black;
  transform-origin: center;
}

.card:hover {
  transform: translate(-10px, -10px);
}

.focus {
  display: none;
}

.cardArray{
  position: relative;
}
.cardRut{
  /*background-color: gray;*/
  background-image: url("../../assets/cardBack.png");
  background-size: cover;
  height: 220px;
  width: 120px;
  border-radius: 1em;
  border: 1px solid black;
  position: absolute;
  top:-100px;
  left:700px;
}
.a-final{
  translate: 200px 200px;
}
.a-future{
  translate: 100px 100px;

}
.now{

}
.b-future{
  translate: 300px 100px;

}
.b-final{
  translate: 400px 0;
}

a{
  color: gray;
  margin-left: 50%;
  margin-top: 400px;
}
span{
  color: gray;
  position: absolute;
  top:150px;
  left:700px;
  font-size: 1.5em;
}
