
.cards {
  /*display: flex;*/
  position: relative;
  margin-left: 300px;
  margin-top: 200px;
}


.card-wrapper {
  position: absolute;
}

.card {
  background-image: url("../../assets/cardBack.png");
  background-size: cover;
  height: 240px;
  width: 130px;
  border-radius: 1em;
  border:5px solid floralwhite;
  box-shadow: 1px 1px 8px 1px rgba(0,0,0,.2);
  transform-origin: center;
}

.card:hover {
  transform: translate(-10px, -10px);
}

.focus {
  /*translate: none!important;*/
  /*rotate:-0deg!important;*/
  transition-duration: 1.8s;
  transition-property: translate,rotate;
  /*z-index: 2 !important;*/
}



.cardArray {
  position: absolute;
}

.cardRut {
  /*background-color: gray;*/
  background-image: url("../../assets/cardBack.png");
  background-size: contain;
  height: 224px;
  width: 128px;
  border-radius: 1em;
  border: 5px solid black;
  position: absolute;
  top: -100px;
  left: 700px;
}

.a-final {
  translate: 200px 200px;
}

.a-future {
  translate: 100px 100px;

}

.now {

}

.b-future {
  translate: 300px 100px;

}

.b-final {
  translate: 400px 0;
}

a {
  color: gray;
  margin-left: 600px;
  margin-top: 400px;
}

span {
  color: gray;
  position: absolute;
  top: 150px;
  left: 700px;
  font-size: 1.5em;
}
