.cardRut {
  /*background-color: gray;*/
  background-image: url("../../assets/cardBack.png");
  background-size: cover;
  height: 224px;
  width: 128px;
  border-radius: 1em;
  position: absolute;
  top: 200px;
  left: 100px;
  transition-duration: 1.8s;
  transition-property: background-image;
  border:5px solid floralwhite;
  box-shadow:0 2px 27px 6px rgba(0, 0, 0, .12);
}

.a-final {
  translate: 240px 200px;
}

.a-future {
  translate: 140px 100px;

}

.now {
  translate: 40px 0;
}

.b-future {
  translate: 340px 100px;

}

.b-final {
  translate: 440px 0;
}

button {
  color: gray;
  margin-left: 670px;
  margin-top: 500px;
}

.cardRead {
  height: 220px;
  border-radius: 1em;
  position: absolute;
  top: 200px;
  left: 700px;
}

.read {
  line-height: 2em;
  font-size: 1em;
  width: 600px;
}

.cardID {
  margin-top: 230px;
  text-align: center;
  color: gray;
  font-size: 0.5em;
  opacity:1;
  /*transition-duration: 1.8s;*/
  animation:display 2s ease-in forwards;
}
@keyframes display{ /*设置内容由显示变为隐藏*/
  0%{opacity: 0;}
  50%{opacity: 0.5;}
  100%{opacity: 1;}
}

.description{
  color: gray;
}
.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}
.cardDrc{
  color: gray;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 23px;
  max-height: 46px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
