
.nav img {
  width: 5em;
  height: 5em;
  margin-right: 1em;
}
.navImg{
  background-image: url("../../assets/magic.webp");
  text-decoration: none;
  height: 70px;
  width: 60px;
  background-size:cover;
}
.nav {
  display: flex;
  color:gray;
  border-radius: 1em;
  flex-wrap: wrap;
  align-items: center;
  padding: 3%;
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

.spans{
  margin-top: 5px;
  margin-left: 8px;
}
